#! /usr/bin/make -f

# Install commands.  You wouldn't normally override these.
INSTALL=install
INSTALL_DATA=$(INSTALL) -p -o root -g root -m 644
INSTALL_PROGRAM=$(INSTALL) -p -o root -g root -m 755
INSTALL_SCRIPT=$(INSTALL) -p -o root -g root -m 755
MKDIR=mkdir -p -m 755

export INSTALL_DATA
export INSTALL_SCRIPT
export INSTALL_PROGRAM

SHELL=bash

build:
	autoreconf -si
	./configure --prefix=/usr --mandir=/usr/share/man
	$(MAKE)
	$(MAKE) check

binary-polybuild:
	rm -rf debian/polybuild
	$(MKDIR) debian/polybuild/DEBIAN
	$(INSTALL_DATA) debian/conffiles.polybuild debian/polybuild/DEBIAN/conffiles
	$(MKDIR) debian/polybuild/etc/cron.daily
	$(MKDIR) debian/polybuild/etc/default
	$(MKDIR) debian/polybuild/usr/share/doc/polybuild
	$(INSTALL_DATA) debian/copyright debian/changelog README \
		debian/polybuild/usr/share/doc/polybuild/.
	gzip -9 debian/polybuild/usr/share/doc/polybuild/changelog*
	$(MAKE) install DESTDIR=$(PWD)/debian/polybuild
	$(INSTALL_DATA) polybuild.default debian/polybuild/etc/default/polybuild
	$(INSTALL_SCRIPT) polybuild.cron debian/polybuild/etc/cron.daily/polybuild
	gzip -9v debian/polybuild/usr/share/man/man*/*
	cd debian/polybuild && \
		find -name DEBIAN -prune -o -type f -print \
			| sed 's/^\.\///' \
			| xargs md5sum > DEBIAN/md5sums
	dpkg-gencontrol -isp -ppolybuild -Pdebian/polybuild -Tdebian/substvars.polybuild
	chown -R root:root debian/polybuild
	chmod -R g-ws debian/polybuild
	dpkg --build debian/polybuild ..

binary: binary-polybuild

clean:
	-make clean
	rm -rf debian/polybuild

.PHONY: build
